<div
  class="modal modal-dialog modal-xl modal-dialog-centered"
  id="staticBackdrop"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content border-danger">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Rezoluție prea mică</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        Această aplicație este optimizată pentru Desktop.
        Încearcă pe un dispozitiv cu o rezoluție mai mare (cu o lățime de minim 1024 pixeli).
      </div>
    </div>
  </div>
</div>
