<div class="card {{isFirst || isLast ? 'border-success' : 'bg-light'}} mr-1 mb-1">
  <img class="card-img-top mt-1" [src]="getCompanyImage()" alt="{{segment.company}}">
  <p>{{ segment.company }}</p>
  <div class="card-header">
    {{segment.departurePlace}}
    <app-arrow-right></app-arrow-right>
    {{segment.arrivalPlace}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{way.toUpperCase()}}</h5>
    <p class="card-text">
      {{segment.departureTimestamp * 1000 | date:'short'}}
      <app-arrow-right></app-arrow-right>
      <br>
      {{segment.arrivalTimestamp * 1000 | date:'short'}}
    </p>
    <p class="card-text">
      <img *ngIf="getTransportTypeIcon() !== ''"
           [src]="getTransportTypeIcon()" width="24px"
           alt="{{segment.transportType}}">
      <small class="text-muted">
        {{segment.companyCode ? segment.companyCode : ''}} {{segment.transportNo}}
      </small>
    </p>
  </div>
</div>
