<div class="card bg-light my-1 text-center">
  <div class="card-body row justify-content-center align-items-center">
    <div class="col-11">
      <div class="card-group justify-content-center">
        <app-search-result-segment
          *ngFor="let segmentGo of result.segmentsGo; let i = index"
          [segment]="segmentGo"
          [dataSource]="result.dataInfo.source"
          [isFirst]="i === 0"
          [isLast]="i === result.segmentsGo.length - 1"
          way="Dus"
        ></app-search-result-segment>
        <div class="border border-left mr-1" *ngIf="result.segmentsBack.length > 0"></div>
        <app-search-result-segment
          *ngFor="let segmentBack of result.segmentsBack; let i = index"
          [segment]="segmentBack"
          [dataSource]="result.dataInfo.source"
          [isFirst]="i === 0"
          [isLast]="i === result.segmentsBack.length - 1"
          way="Întors"
        ></app-search-result-segment>
      </div>
    </div>
    <div class="col-1" *ngIf="result.deepLink != null">
      <p>{{result.price}} {{result.currency}}</p>
      <a class="btn btn-primary" href="{{result.deepLink}}">Info</a>
    </div>
  </div>
</div>
