.scroll-to-top {
  display: none;
  transition: all .2s ease-in-out;
}

.scroll-to-top > button {
  background: transparent;
  border: none;
  font-size: 2rem;
}

.show-scrollTop {
  display: block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition: all .2s ease-in-out;
}
