<div class="identity-info">
  <app-info-circle-fill
    data-toggle="tooltip"
    data-placement="top"
    title="<span>Pentru a putea urmări numărul de utilizatori și căutările făcute, am generat aleatoriu un nume de utilizator pentru tine:
    <em><strong>{{this.username}}</strong></em> valabil doar pe acest browser/dispozitiv.</span>"
    data-html="true"
    [appTooltip]
  ></app-info-circle-fill>
</div>
