.ng-valid[required], .ng-valid.required {
  border-left: 3px solid #42A948; /* green */
}

.submitted input.ng-invalid, input.ng-touched.ng-invalid:not(form) {
  border-left: 3px solid #a94442; /* red */
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.logo-img {
  margin-top: -100px;
}
