<app-search-mobile-modal *ngIf="isMobile"></app-search-mobile-modal>
<div *ngIf="!isMobile">
  <app-search-logo [isBig]="isLoading"></app-search-logo>
  <app-search-user-identity (usernameEmitter)="setUsername($event)"></app-search-user-identity>
  <div class="row">
    <form
      class="form-inline"
      #f="ngForm"
      [ngClass]="{submitted: formSubmitted}"
      (ngSubmit)="onSubmit(f)"
      appPaxCount
    >
      <div class="form-row mx-auto">
        <div class="form-group col-12">
          <label for="from">
            Din orașul
            <input
              placeholder="Exemplu: Iasi"
              type="text"
              class="form-control mx-sm-2 my-sm-2"
              id="from"
              name="from"
              ngModel
              required
            >
          </label>
          <label for="to">
            Către
            <input
              placeholder="Exemplu: Paris"
              type="text"
              class="form-control mx-sm-2 my-sm-2"
              id="to"
              name="to"
              ngModel
              required
            >
          </label>
          <label for="departure_date">
            Dată dus
            <input
              type="text"
              class="form-control mx-sm-2 my-sm-2"
              id="departure_date"
              name="departure_date"
              placeholder="Click pentru a alege"
              [owlDateTime]="dt1"
              [owlDateTimeTrigger]="dt1"
              [min]="minGoDepartureDate"
              ngModel
              required
            >
            <owl-date-time
              #dt1 [firstDayOfWeek]="1"
              (afterPickerClosed)="setMinReturnDepartureDate(f)"
            ></owl-date-time>
          </label>
          <div class="custom-control custom-checkbox mx-sm-2 my-sm-2">
            <input
              type="checkbox"
              id="one_way"
              class="custom-control-input"
              name="one_way"
              ngModel
            >
            <label for="one_way" class="custom-control-label">
              Doar dus
            </label>
          </div>
        </div>
      </div>
      <div class="form-row justify-content-around">
        <div class="form-group col-5">
          <div class="input-group w-25 mx-sm-2 my-sm-2x">
            <div class="input-group-prepend">
              <div
                *ngIf="f.errors?.paxCount"
                class="text-danger"
                style="margin-left: -16px;"
                [appTooltip]
                data-toggle="tooltip"
                data-placement="left"
                title="<span>Numărul total de călători (adulți + copii + bebeluși) trebuie să fie între 1 și 9,
                iar numărul minim de adulți este 1.</span>"
                data-html="true"
              >
                <app-exclamation-circle-fill></app-exclamation-circle-fill>
              </div>
              <div class="input-group-text">Adulți</div>
            </div>
            <input
              type="number"
              min="1"
              class="form-control {{f.errors?.pax_adults ? 'ng-touched ng-invalid' : ''}}"
              name="pax_adults"
              ngModel="1"
              required
            >
          </div>
          <div class="input-group w-25 mx-sm-2 my-sm-2x">
            <div class="input-group-prepend">
              <div class="input-group-text">Copii</div>
            </div>
            <input
              type="number"
              min="0"
              class="form-control {{f.errors?.pax_children ? 'ng-touched ng-invalid' : ''}}"
              name="pax_children"
              ngModel="0"
              required
            >
          </div>
          <div class="input-group w-25 mx-sm-2 my-sm-2x">
            <div class="input-group-prepend">
              <div class="input-group-text">Bebe</div>
            </div>
            <input
              type="number"
              min="0"
              class="form-control {{f.errors?.pax_infants ? 'ng-touched ng-invalid' : ''}}"
              name="pax_infants"
              ngModel="0"
              required
            >
          </div>
        </div>
        <div class="form-group">
          <label for="return_departure_date">
            Dată întors
            <input
              type="text"
              class="form-control mx-sm-2 my-sm-2"
              id="return_departure_date"
              name="return_departure_date"
              [placeholder]="minReturnDepartureDate == null ?
            'Alege mai întâi data dus' :
            'Click pentru a alege'"
              [owlDateTime]="dt2"
              [owlDateTimeTrigger]="dt2"
              [min]="getMinReturnDepartureDate()"
              ngModel
              [required]="!f.value.one_way"
              [disabled]="!!f.value.one_way || minReturnDepartureDate == null"
            >
            <owl-date-time #dt2 [firstDayOfWeek]="1"></owl-date-time>
          </label>
        </div>
        <div class="d-flex flex-column">
          <p>Rezultate:</p>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switchFlights"
                   name="searchFlights"
                   ngModel="true"
            >
            <label class="custom-control-label justify-content-start" for="switchFlights">
              Zboruri
            </label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switchTrains"
                   name="searchTrains"
                   ngModel="true"
            >
            <label class="custom-control-label justify-content-start" for="switchTrains">
              Trenuri
            </label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switchBuses"
                   name="searchBuses"
                   ngModel="true"
            >
            <label class="custom-control-label justify-content-start" for="switchBuses">
              Autobuze
            </label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switchPublicTransport"
                   name="searchPublicTransport"
                   ngModel="true"
            >
            <label class="custom-control-label justify-content-start" for="switchPublicTransport">
              Transport public
            </label>
          </div>
        </div>
        <div class="d-flex flex-column">
          <p>Date:</p>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switchLiveData"
                   name="resultsLiveData"
                   ngModel="true"
                   (ngModelChange)="setMockedSearchParams(f)"
            >
            <label
              class="custom-control-label justify-content-start"
              for="switchLiveData"
              data-toggle="tooltip"
              data-placement="top"
              title="<span>Cere rezultate live (reale). Dezactivarea reprezintă folosirea de date simulate.</span>"
              data-html="true"
              [appTooltip]
            >
            <span>
              Reale
              <app-info-circle></app-info-circle>
            </span>
            </label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switchLocaleRo"
                   name="resultsLocaleRo"
                   ngModel="true"
            >
            <label
              class="custom-control-label justify-content-start"
              for="switchLocaleRo"
              data-toggle="tooltip"
              data-placement="top"
              title="<span>Cere rezultate în limba Română. Dezactivarea reprezintă selecția limbii engleze.</span>"
              data-html="true"
              [appTooltip]
            >
            <span>
              În Română
              <app-info-circle></app-info-circle>
            </span>
            </label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switchCache"
                   name="resultsFromCache"
                   ngModel="true"
            >
            <label
              class="custom-control-label justify-content-start"
              for="switchCache"
              data-toggle="tooltip"
              data-placement="top"
              title="<span>Permite folosirea cache-ului de date pentru returnarea rapidă a rezultatelor.
            Timpul de viață al cache-ului este de o oră.
            Dezactivarea cache-ului asigură cele mai actuale rezultate.</span>"
              data-html="true"
              [appTooltip]
            >
            <span>
              Din cache
              <app-info-circle></app-info-circle>
            </span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-row mx-auto">
        <div class="form-group col-12">
          <button
            class="btn btn-primary mb-2"
            type="submit"
            [disabled]="
            !f.value.searchFlights &&
            !f.value.searchTrains &&
            !f.value.searchBuses &&
            !f.value.searchPublicTransport"
          >
            Caută
          </button>
        </div>
      </div>
    </form>
  </div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <app-search-summary
    *ngIf="!isLoading && (results || error)"
    [results]="results"
    [error]="error"
    [requestDurationSeconds]="requestDurationSeconds"
  ></app-search-summary>
  <app-search-result-list *ngIf="!isLoading && results" [results]="results"></app-search-result-list>
  <app-scroll-to-top></app-scroll-to-top>
  <app-app-info></app-app-info>
</div>
