<span
  class="small text-secondary app-info"
  [appTooltip]
  tabindex="0"
  data-toggle="tooltip"
  data-placement="top"
  data-delay="2000"
  title="<span>Aplicație dezvoltată pentru lucrarea de licență (iulie 2020) folosind
  <a href='https://angular.io/'>Angular</a> 9 și <a href='https://phalcon.io'>Phalcon</a> 4.
  Datele folosite provin din interfețele de programare ale <a href='https://kiwi.com'>Kiwi.com</a> și <a href='https://here.com'>Here.com</a>.
  <br> Vrei să-mi oferi feedback? Vezi cum mă poți contacta pe <a href='https://oiste.ro'>oiste.ro.</a>
  </span>"
  data-html="true"
>
  v28620.0
</span>
